@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --text-color: #757575;
  --bnt-color-hover: #F5F4FA;
  --btn-color-hb: #2196F3;
  --btn-color-text: #212121;
  --default-white: #ffffff;
  --font-size: 14px;
  --bg-color: #2F303A;
  --set-gap: 30px;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  --timing-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.contact__e,
.contact__tel {
  text-decoration: none;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.e-link {
  text-decoration: none;
  font-style: normal;
}

.ph-link {
  text-decoration: none;
  font-style: normal;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
}

.header__container {
  display: flex;
  align-items: center;
}

.logo-color {
  color: var(--btn-color-hb);
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo {
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
}

.header-icon {
  align-items: center;
  vertical-align: middle;
  margin-right: 10px;
  fill: currentColor;
}

/*Header-Навигация */
.nav__site {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: var(--font-size);
  line-height: 1.14;
}

.nav__site:hover,
.nav__site:focus {
  color: var(--btn-color-hb);
}

.contact {
  padding: 0;
  margin: 0;
  display: flex;
}

.nav__site:first-child {
  margin-left: 93px;
}

.nav__site .nav__item {
  margin-right: 50px;
}

.contact .contact__item:last-child {
  margin-right: 0;
}

.nav__site .current {
  color: var(--btn-color-hb);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
}

/*Header-Контактные линки */
.contact {
  margin-left: auto;
  font-style: normal;
  font-weight: 400;
  line-height: 1.14;
  color: var(--text-color);
  padding-top: 5px;
}

.contact__e {
  margin-right: 30px;
}

.contact__e,
.contact__tel {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: var(--font-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color var(--timing-duration) var(--timing-function);
}

.contact .contact__e:hover,
.contact .contact__e:focus,
.contact .contact__tel:hover,
.contact .contact__tel:focus {
  color: var(--btn-color-hb);
}

.nav {
  /*display: block;*/
  align-items: baseline;
}

/*Ссылки в шапке*/
.nav__link {
  display: flex;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--btn-color-text);
  transition: color var(--timing-duration) var(--timing-function);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--btn-color-hb);
}

.hero {
  padding-bottom: 200px;
  background-color: var(--bg-color);
}

.hero__container {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero__titel {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

.hero__btn {
  width: 200px;
  height: 50px;
  display: block;
  margin: 0 auto;
  background: var(--btn-color-hb);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.benefit {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefit__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  margin-left: -30px;
}

.benefit__title {
  font-style: normal;
  font-weight: 700;
  font-size: var(--font-size);
  line-height: 1.14;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.benefit__text {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: var(--text-color);
  padding-top: 10px;
}

.benefit__item {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  flex-basis: calc(25% - 30px);
  margin-left: 30px;
}

.benefit__item:last-child {
  margin-right: 0;
}

.benefit-icon {
  width: 70px;
  height: 70px;
}

.icons {
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  background: #F5F4FA;
  border-radius: 4px;
}

.our-work__container {
  padding-bottom: 94px;
}

.our-work__container > .our-work__list {
  display: flex;
}

.our-work__list .our-work__item + .our-work__item {
  flex-basis: calc(33.3333333333% - 30px);
}

.our-work__item:not(:last-child) {
  margin-right: 30px;
}

.our-work__item {
  position: relative;
}

.work-card-text {
  padding-top: 27px;
  padding-bottom: 27px;
  width: 370px;
  height: 70px;
  left: 615px;
  top: 1435px;
  background-color: rgba(47, 48, 58, 0.8);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

.our-work__text {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  text-transform: uppercase;
  line-height: 1.14;
  font-weight: 700;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}/*# sourceMappingURL=main.css.map */